<li>
    {{burger_name}}

    <button class="change-devoured btn btn-secondary btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
        {{#if devoured}}Waiting List!{{else}}DEVOUR IT!{{/if}}
    </button>

    <button class="delete-burger btn btn-secondary btn-sm" data-id="{{this.id}}">DELETE!</button>
</li>